<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amos.customview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CustomArcActivity"/>
        <activity android:name=".MultipleActivity"/>
        <activity
            android:name=".CollapseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".df.DFActivity"/>
        <activity android:name=".BottomDialogActivity"/>
        <activity android:name=".reader.MainReaderActivity"/>
        <activity
            android:name=".bookread.BookReaderActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".baserecyclerview.RVActivity"/>

        <service android:name=".mdialog.CustomService"/>

        <activity android:name=".baserecyclerview.refreshandmore.RefreshMoreActivity"/>
        <activity android:name=".rxjava2.RxJavaDemoActivity"/>
        <activity android:name=".rxjava2.ConversionOperatorActivity"/>
        <activity android:name=".rxjava2.FilterOperatorActivity"/>
        <activity android:name=".UIDemoActivity"/>
        <activity android:name=".rxjava2.RxJavaMainActivity"/>
        <activity android:name=".rxjava2.CreateOperatorActivity"/>
    </application>

</manifest>